<a href="https://colab.research.google.com/github/prakashkrishanan/Data-science/blob/main/Task_2_(basics_of_pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

simple pandas program

In [ ]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

In [ ]:
import pandas as pd

arr = pd.array([[1, 2, 3], [4, 5, 6]])

print(arr[0])

[1, 2, 3]

In [ ]:

import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Age': [25, 30, 35, 28, 22],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami']}

df = pd.DataFrame(data)

print("DataFrame:")
print(df)

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   28      Houston
4      Eva   22        Miami

In [ ]:
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/IRIS.csv')
df = pd.DataFrame(data)
print(df[])

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
import pandas as pd
s=pd.series([3,-5,7,4]),index=['a','b','c','d']
print(s['b'])

TypeError: ignored

pandas data structures

In [ ]:
#series
import pandas as pd

# Creating a Series from a list
data = [1, 2, 3, 4, 5]
series = pd.Series(data)

# Displaying the Series
print(series)

# Accessing elements in a Series
print(series[0])  # Accessing the first element
print(series[1:4])  # Slicing the Series

# Performing operations on a Series
squared_series = series ** 2
print(squared_series)

# Adding two Series
series1 = pd.Series([1, 2, 3])
series2 = pd.Series([4, 5, 6])
sum_series = series1 + series2
print(sum_series)

In [ ]:
#dataframe
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

# Accessing columns in a DataFrame
print(df['Name'])  # Accessing the 'Name' column
print(df[['Name', 'Age']])  # Accessing multiple columns

# Accessing rows in a DataFrame
print(df.loc[0])  # Accessing the first row
print(df.loc[1:2])  # Accessing a range of rows

# Adding a new column to the DataFrame
df['Salary'] = [50000, 60000, 70000]
print(df)

# Filtering data in a DataFrame
filtered_df = df[df['Age'] > 30]
print(filtered_df)

I\O

In [ ]:
#READ CSV FILE
import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('example.csv')

# Display the DataFrame
print(df)

In [ ]:
#WRITE CSV FILE
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

# Write the DataFrame to a CSV file
df.to_csv('output.csv', index=False)

In [ ]:
#READ TO EXCEL
import pandas as pd

# Read an Excel file into a DataFrame
df = pd.read_excel('example.xlsx', sheet_name='Sheet1')

# Display the DataFrame
print(df)

In [ ]:
#WRITE TO EXCEL
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}
df = pd.DataFrame(data)

# Write the DataFrame to an Excel file
df.to_excel('output.xlsx', index=False, sheet_name='Sheet1')

In [ ]:
pip install pandas openpyxl xlrd

selection

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 35, 28, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston']}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Selecting a column
name_column = df['Name']
print("\nSelecting 'Name' column:")
print(name_column)

# Selecting multiple columns
subset_df = df[['Name', 'Age']]
print("\nSelecting 'Name' and 'Age' columns:")
print(subset_df)

# Selecting rows based on a condition
young_people = df[df['Age'] < 30]
print("\nSelecting people under 30:")
print(young_people)

# Selecting specific rows and columns using loc
selected_data = df.loc[1:3, ['Name', 'City']]
print("\nSelecting rows 1 to 3 and columns 'Name' and 'City' using loc:")
print(selected_data)

dropping

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 35, 28, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston']}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Drop a column (axis=1)
df_dropped_column = df.drop('Age', axis=1)
print("\nDataFrame after dropping 'Age' column:")
print(df_dropped_column)

# Drop multiple columns
df_dropped_columns = df.drop(['Age', 'City'], axis=1)
print("\nDataFrame after dropping 'Age' and 'City' columns:")
print(df_dropped_columns)

# Drop a row by index
df_dropped_row = df.drop(2)
print("\nDataFrame after dropping row with index 2:")
print(df_dropped_row)

# Drop multiple rows by index
df_dropped_rows = df.drop([1, 3])
print("\nDataFrame after dropping rows with index 1 and 3:")
print(df_dropped_rows)

In [ ]:
# Drop a column in-place
df.drop('Age', axis=1, inplace=True)

sort and rank

In [ ]:
#sorting
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 35, 28, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston']}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Sort by a specific column
sorted_df_by_age = df.sort_values(by='Age')
print("\nDataFrame sorted by 'Age':")
print(sorted_df_by_age)

# Sort in descending order
sorted_df_desc_age = df.sort_values(by='Age', ascending=False)
print("\nDataFrame sorted by 'Age' in descending order:")
print(sorted_df_desc_age)

In [ ]:
#ranking
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 35, 28, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston']}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Rank the DataFrame by 'Age'
df['Age_Rank'] = df['Age'].rank()
print("\nDataFrame with 'Age' ranked:")
print(df)

retrieving series/data frame information

In [ ]:
#Retrieving Information about a DataFrame
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 35, 28, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston']}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Getting general information about the DataFrame
info_df = df.info()
print("\nInformation about the DataFrame:")
print(info_df)

# Getting basic statistics for numerical columns
describe_df = df.describe()
print("\nDescriptive statistics for the DataFrame:")
print(describe_df)

# Displaying the first few rows of the DataFrame
head_df = df.head(3)
print("\nFirst 3 rows of the DataFrame:")
print(head_df)

In [ ]:
#Retrieving Information about a Series:
import pandas as pd

# Creating a sample Series
ages = pd.Series([25, 30, 35, 28, 22], name='Age')

# Display the original Series
print("Original Series:")
print(ages)

# Getting general information about the Series
info_series = ages.describe()
print("\nDescriptive statistics for the Series:")
print(info_series)

# Accessing specific attributes of the Series
print("\nMaximum value in the Series:", ages.max())
print("Minimum value in the Series:", ages.min())
print("Mean of the Series:", ages.mean())

applying functions

In [ ]:
#Applying a Function to DataFrame

import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 35, 28, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago', 'Boston']}
df = pd.DataFrame(data)

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Define a function to add a prefix to each city
def add_prefix(city):
    return "City of " + city

# Apply the function to the 'City' column
df['City_with_prefix'] = df['City'].apply(add_prefix)
print("\nDataFrame after applying the function to 'City':")
print(df)

data alignment

In [ ]:
import pandas as pd

# Creating two sample Series with different indices
series1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
series2 = pd.Series([4, 5, 6], index=['b', 'c', 'd'])

# Display the original Series
print("Series 1:")
print(series1)
print("\nSeries 2:")
print(series2)

# Adding two Series
result = series1 + series2

# Display the result of the addition
print("\nResult of the addition:")
print(result)

In [ ]:
#Applying a Function to Series:
import pandas as pd

# Creating a sample Series
ages = pd.Series([25, 30, 35, 28, 22], name='Age')

# Display the original Series
print("Original Series:")
print(ages)

# Define a function to categorize age groups
def categorize_age(age):
    if age < 25:
        return 'Young'
    elif age < 35:
        return 'Middle-aged'
    else:
        return 'Senior'

# Apply the function to the Series
age_categories = ages.apply(categorize_age)
print("\nSeries after applying the function to categorize ages:")
print(age_categories)

In [ ]:
import pandas as pd

# Loading Data
csv_data = pd.read_csv('your_csv_file.csv')
excel_data = pd.read_excel('your_excel_file.xlsx')

FileNotFoundError: ignored

In [ ]:
# Assuming you have a SQL database named 'your_db' and a table named 'your_table'
sql_data = pd.read_sql('SELECT * FROM your_table', 'your_db')
json_data = pd.read_json('your_json_file.json')

In [ ]:
# Exploring Data
print(csv_data.head())
print(csv_data.info())
print(csv_data.describe())
print(csv_data.shape)
print(csv_data.columns)
print(csv_data.dtypes)

In [ ]:
# Selection and Indexing
print(csv_data['column_name'])
print(csv_data[['col1', 'col2']])
print(csv_data.loc[1:5])
print(csv_data.iloc[1:5])

In [ ]:
# Filtering Data
print(csv_data[csv_data['column'] > value])
print(csv_data.query('column > @value'))

In [ ]:
# Handling Missing Data
print(csv_data.isnull())
print(csv_data.notnull())
print(csv_data.dropna())
print(csv_data.fillna(value))

In [ ]:
# Manipulating Data
grouped_data = csv_data.groupby('group_column')
sorted_data = csv_data.sort_values(by='column_to_sort')
pivot_table = csv_data.pivot_table(index='index_column', columns='column_to_pivot', values='value_column')
melted_data = csv_data.melt(id_vars=['id_var1', 'id_var2'], value_vars=['val_var1', 'val_var2'])

In [ ]:
# Combining DataFrames
concatenated_data = pd.concat([df1, df2])
merged_data = pd.merge(df1, df2, on='common_column')

In [ ]:
# Changing Data
csv_data['new_column'] = csv_data['old_column'].apply(your_function)
csv_data['mapped_column'] = csv_data['original_column'].map(your_mapping)

In [ ]:
# Time Series Analysis
csv_data['date_column'] = pd.to_datetime(csv_data['date_column'])
resampled_data = csv_data.resample('D', on='date_column').sum()
shifted_data = csv_data.shift(periods=1)

In [ ]:
# Statistical Functions
print(csv_data.mean())
print(csv_data.median())
print(csv_data.std())
print(csv_data.corr())

In [ ]:
# Data Cleaning
renamed_data = csv_data.rename(columns={'old_name': 'new_name'})
cleaned_data = csv_data.drop(['column_to_drop'], axis=1)

In [ ]:
# File Output
csv_data.to_csv('output_file.csv', index=False)
csv_data.to_excel('output_file.xlsx', index=False)